/* 공통 */
section h2 {
    text-align: center;
    font-size: var(--font36);
    font-weight: var(--font-w600);
    margin-bottom: 40px;
    text-transform: uppercase; /*대문자 변경*/
}

/* 메인비주얼 */
.visual {
    width: 100%;
    height: 750px;
    /* padding-top: 145px; */
}
.visual .bg1 {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}
.visual .bg2 {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}
.visual .slide {
    height: 100%;
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.visual .text-area p:nth-child(1) {
    font-size: 60px;
    font-weight: 700;
}
.visual .text-area p:nth-child(2) {
    font-size: var(--font20);
    font-weight: var(--font-w600);
    margin-top: 20px;
}
.visual .btn-area button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.visual .btn-area button.prev {left: 10vw;}
.visual .btn-area button.next {right: 10vw;}

.visual .swiper-navigation-icon {display: none;}

/* 예약폼 */
.quick-res {
    margin-top: -97px;
    margin-bottom: -50px;
    position: relative;
    z-index: 9;
}
.quick-res .tabBtn {
    color: var(--white);
    display: flex;
    gap: 31px;
    margin-bottom: 20px;
}
.quick-res .tabBtn li {
    font-size: var(--font20);
    opacity: 0.7;
    cursor: pointer;
    position: relative;
}
.quick-res .tabBtn li.on {
    opacity: 1;
}
.quick-res .tabBtn li::before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 4px;
    left: -16px;
}
.quick-res .tabBtn li:first-child::before {
    display: none;
}
.quick-res .tabCon {
    display: flex;
}
.quick-res .tabCon .option {
    width: 256px;
    height: 100px;
    background-color: var(--white);
    border-right: 1px solid var(--gray200);
    padding: 20px 20px 0 20px;
}
.quick-res .tabCon .option label {
    display: block;
    padding-left: 15px;
}
.quick-res .tabCon .option select,
.quick-res .tabCon .option input {
    width: 216px;
    height: 40px;
    border: 0;
    padding-left: 10px;
    font-size: var(--font20);
}
.quick-res .tabCon .option input {
    background-image: url(../img/icon_can.png);
    background-repeat: no-repeat;
    background-position: 182px 8px;
    padding-left: 13px;
    padding-right: 40px;
}
.quick-res .tabCon .btn-res {
    width: 256px;
    height: 100px;
    background-color: var(--gray600);
    color: var(--white);
    font-size: var(--font20);
    font-weight: var(--font-w600);
    padding-left: 40px;
}

/* 이벤트섹션 */
.sec-event {
    background-color: var(--gray100);
    padding: 150px 0 80px;
}
.event {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.event article {
    width: 290px;
}
.event article .img-area {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
}
.event article .img-area span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 125px;
    height: 35px;
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
}
.event article img {
    transform: scale(1.2);
    transition: 0.5s;
}
.event article:hover img {
    transform: rotate(5deg) scale(1.3);
}
.event article .text-area {
    padding: 25px 10px;
}
.event article .text-area h3 {
    font-size: var(--font18);
    font-weight: var(--font-w600);
    margin-bottom: 10px;

    /* 글 말줄임 표시 */
    white-space: nowrap; /*한 줄로 표시*/
    overflow: hidden;
    text-overflow: ellipsis; /*...로 표시*/
}
.event article .text-area p {
    color: var(--gray600);
}

/* 브랜드 섹션 */
.sec-brand {
    background-color: #002D4E;
    padding: 100px 0 80px;
    color: var(--white);
}
.sec-brand .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-brand .brand .text-area h3 {
    font-size: var(--font26);
    font-weight: var(--font-w600);
}
.sec-brand .brand .text-area p {
    margin-top: 25px;
    margin-bottom: 40px;
}
.sec-brand .brand .text-area a {
    display: block; /*a요소를 block의 성질로 변경*/
    width: 140px;
    height: 40px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
}

/* 푸드섹션 */
.sec-food {
    background-color: #F5F3EE;
    padding: 100px 0 80px;
}
.food {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-food .text-area {
    text-align: center;
}
.sec-food .text-area h3 {
    font-size: var(--font26);
    font-weight: var(--font-w600);
    margin-bottom: 15px;
}
.sec-food .text-area ul {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.sec-food .text-area a {
    display: block;
    margin: 0 auto; /*블록요소 가운데 배치*/
    width: 140px;
    height: 40px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center; /*글자, 인라인요소 가운데 배치*/
    line-height: 38px;
}

/* 멤버쉽 */
.sec-member {
    padding: 80px 0 100px;
}
.condo {
    width: 50%;
}
.condo h2 {
    font-size: var(--font24);
    margin-bottom: 30px;
}
.condo ul {
    display: flex;
    justify-content: center;
}
.condo ul li {
    width: 210px;
    height: 140px;
    text-align: center;
}
.condo ul li p {
    margin-top: 15px;
}